:root {
    --primary-color: #dbba00;
    --primary-light-color: #007045;
    --white-color: #ffffff;
    --white-light-color: #fffcfc;
    --black-color: #141718;
    --black-light-color: #1c1f20;
  
    --nunito: 'Nunito', sans-serif;
  
    --fz-200: 200;
    --fz-300: 300;
    --fz-400: 400;
    --fz-600: 600;
    --fz-700: 700;

    --padding-x: 1rem;
    --padding-y: 1rem;
}
  

@media (min-width: 720px) {
    :root {
        --padding-x: 6rem;
        --padding-y: 1rem;
    }
}